# Name : Shanthan Rao

# Task 7 : Stock Market Prediction

In [1]:
# importing libraries
import warnings
warnings.filterwarnings('ignore')
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing, metrics
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout, Dense, Activation
import nltk
nltk.download('vader_lexicon')
from nltk.classify import NaiveBayesClassifier
from nltk.corpus import subjectivity
from nltk.sentiment import SentimentAnalyzer
from nltk.sentiment.util import *

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Asus\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [2]:
# reading the datasets into pandas
stock_price = pd.read_csv('BSESN.csv')

In [3]:
stock_headlines = pd.read_csv('india-news-headlines.csv')

In [4]:
stock_price.head()

       Date       Open       High        Low     Close* Adj. close**  Volume
0  7-May-21  49,169.14  49,417.64  49,036.38  49,206.47    49,206.47       -
1  6-May-21  48,877.78  49,011.31  48,614.11  48,949.76    48,949.76   9,500
2  5-May-21  48,569.12  48,742.72  48,254.32  48,677.55    48,677.55  12,700
3  4-May-21  48,881.63  48,996.53  48,149.45  48,253.51    48,253.51  13,200
4  3-May-21  48,356.01  48,863.23  48,028.07  48,718.52    48,718.52  14,700

In [5]:
len(stock_price), len(stock_headlines)

(100, 3424067)

In [6]:
stock_price.isna().any(), stock_headlines.isna().any()

(Date            False
 Open            False
 High            False
 Low             False
 Close*          False
 Adj. close**    False
 Volume          False
 dtype: bool,
 publish_date         False
 headline_category    False
 headline_text        False
 dtype: bool)

In [7]:
#dropping any null entries in our data
stock_price.dropna(axis=0, inplace=True)

In [8]:
# dropping duplicates in data
stock_price = stock_price.drop_duplicates()

# coverting the datatype of column 'Date' from type object to type 'datetime'
stock_price['Date'] = pd.to_datetime(stock_price['Date']).dt.normalize()

# filtering the important columns
stock_price = stock_price.filter(['Date', 'Close', 'Open', 'High', 'Low', 'Volume'])

# setting column 'Date' as the index column
stock_price.set_index('Date', inplace= True)

# sorting the data according to Date
stock_price = stock_price.sort_index(ascending=True, axis=0)
stock_price

                 Open       High        Low  Volume
Date
2020-12-10  45,999.42  46,043.97  45,685.87  12,700
2020-12-11  46,060.32  46,309.63  45,706.22  26,300
2020-12-14  46,284.70  46,373.34  45,951.53  18,400
2020-12-15  46,287.39  46,350.30  45,841.67  16,400
2020-12-16  46,573.31  46,704.97  46,402.20  13,100
...               ...        ...        ...     ...
2021-05-03  48,356.01  48,863.23  48,028.07  14,700
2021-05-04  48,881.63  48,996.53  48,149.45  13,200
2021-05-05  48,569.12  48,742.72  48,254.32  12,700
2021-05-06  48,877.78  49,011.31  48,614.11   9,500
2021-05-07  49,169.14  49,417.64  49,036.38       -

[100 rows x 4 columns]

In [9]:
# dropping duplicates
stock_headlines = stock_headlines.drop_duplicates()

# coverting the datatype of column 'Date' from type string to type 'datetime'
stock_headlines['publish_date'] = stock_headlines['publish_date'].astype(str)
stock_headlines['publish_date'] = stock_headlines['publish_date'].apply(lambda x: x[0:4]+'-'+x[4:6]+'-'+x[6:8])
stock_headlines['publish_date'] = pd.to_datetime(stock_headlines['publish_date']).dt.normalize()

# filtering the important columns 
stock_headlines = stock_headlines.filter(['publish_date', 'headline_text'])

# grouping the news headlines according to Date
stock_headlines = stock_headlines.groupby(['publish_date'])['headline_text'].apply(lambda x: ','.join(x)).reset_index()

# setting Date as the index column
stock_headlines.set_index('publish_date', inplace= True)

# sorting the data according to the Date
stock_headlines = stock_headlines.sort_index(ascending=True, axis=0)
stock_headlines

                                                  headline_text
publish_date
2001-01-02    Status quo will not be disturbed at Ayodhya; s...
2001-01-03    Powerless north India gropes in the dark,Think...
2001-01-04    The string that pulled Stephen Hawking to Indi...
2001-01-05    Light combat craft takes India into club class...
2001-01-06    Light combat craft takes India into club class...
...                                                         ...
2020-12-27    #BigInterview! Dhritiman Chatterjee: Nobody da...
2020-12-28    Horoscope Today; 28 December 2020: Check astro...
2020-12-29    Man recovers charred remains of 'thief' from h...
2020-12-30    Numerology Readings 30 December 2020: Predicti...
2020-12-31    Horoscope Today; 31 December 2020: Check astro...

[7262 rows x 1 columns]

In [10]:
# concatenation of the datasets stock_price and stock_headlines
stock_data = pd.concat([stock_price, stock_headlines], axis=1)

stock_data.dropna(axis=0, inplace=True)

# displaying the combined stock_data
stock_data

,Open,High,Low,Volume,headline_text
2020-12-10,"45,999.42","46,043.97","45,685.87","12,700","Gold imports plunge; demand dips,Horoscope Tod..."
2020-12-11,"46,060.32","46,309.63","45,706.22","26,300",Ways to get you in the mood for sex when you'r...
2020-12-14,"46,284.70","46,373.34","45,951.53","18,400","No threat from Covid claims to balance sheets,..."
2020-12-15,"46,287.39","46,350.30","45,841.67","16,400",1;147 RT-PCR tests in a day; only 3 found +ve ...
2020-12-16,"46,573.31","46,704.97","46,402.20","13,100",Asmita Sood's favourite holiday destinations a...
2020-12-17,"46,774.32","46,992.57","46,627.60","17,200",Horoscope Today; 17 December 2020: Check astro...
2020-12-18,"47,026.02","47,026.02","46,630.31","12,800",Cops; panch witnesses sniffed suspects' mouths...
2020-12-21,"46,932.18","47,055.69","44,923.08","24,400",Horoscope Today; 21 December 2020: Check astro...
2020-12-22,"45,529.61","46,080.18","45,112.19","25,100",Addite and Mohit Malik: We are looking forward...
2020-12-23,"46,072.30","46,513.32","45,899.10","10,500","Sawmill in Makarpura GIDC gutted; none hurt,Ci..."
2020-12-24,"46,743.49","47,053.40","46,539.02","13,700",How to set the mood for sex during cold winter...
2020-12-28,"47,153.59","47,406.72","47,148.24","9,600",Horoscope Today; 28 December 2020: Check astro...
2020-12-29,"47,466.62","47,714.55","47,361.90","12,800",Man recovers charred remains of 'thief' from h...
2020-12-30,"47,789.03","47,807.85","47,358.36","15,600",Numerology Readings 30 December 2020: Predicti...
2020-12-31,"47,753.11","47,896.97","47,602.12","13,900",Horoscope Today; 31 December 2020: Check astro...

In [11]:
#Sentiment Analysis
stock_data['compound'] = ''
stock_data['negative'] = ''
stock_data['neutral'] = ''
stock_data['positive'] = ''
stock_data.head()

,Open,High,Low,Volume,headline_text,compound,negative,neutral,positive
2020-12-10,"45,999.42","46,043.97","45,685.87","12,700","Gold imports plunge; demand dips,Horoscope Tod...",,,,
2020-12-11,"46,060.32","46,309.63","45,706.22","26,300",Ways to get you in the mood for sex when you'r...,,,,
2020-12-14,"46,284.70","46,373.34","45,951.53","18,400","No threat from Covid claims to balance sheets,...",,,,
2020-12-15,"46,287.39","46,350.30","45,841.67","16,400",1;147 RT-PCR tests in a day; only 3 found +ve ...,,,,
2020-12-16,"46,573.31","46,704.97","46,402.20","13,100",Asmita Sood's favourite holiday destinations a...,,,,

In [12]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import unicodedata

#Sentiment Analyzer
sid = SentimentIntensityAnalyzer()
print('Start calculating sentiment scores:')

stock_data['compound'] = stock_data['headline_text'].apply(lambda x: sid.polarity_scores(x)['compound'])
print('Compound Done')
stock_data['negative'] = stock_data['headline_text'].apply(lambda x: sid.polarity_scores(x)['neg'])
print('Negative Done')
stock_data['neutral'] = stock_data['headline_text'].apply(lambda x: sid.polarity_scores(x)['neu'])
print('Neutral Done')
stock_data['positive'] = stock_data['headline_text'].apply(lambda x: sid.polarity_scores(x)['pos'])
print('Positive Done')
print('Stop')

stock_data.head()

Start calculating sentiment scores:
Compound Done
Negative Done
Neutral Done
Positive Done
Stop

,Open,High,Low,Volume,headline_text,compound,negative,neutral,positive
2020-12-10,"45,999.42","46,043.97","45,685.87","12,700","Gold imports plunge; demand dips,Horoscope Tod...",-0.9996,0.120,0.802,0.078
2020-12-11,"46,060.32","46,309.63","45,706.22","26,300",Ways to get you in the mood for sex when you'r...,-0.9999,0.147,0.772,0.081
2020-12-14,"46,284.70","46,373.34","45,951.53","18,400","No threat from Covid claims to balance sheets,...",-0.9993,0.112,0.808,0.081
2020-12-15,"46,287.39","46,350.30","45,841.67","16,400",1;147 RT-PCR tests in a day; only 3 found +ve ...,-0.9998,0.123,0.802,0.074
2020-12-16,"46,573.31","46,704.97","46,402.20","13,100",Asmita Sood's favourite holiday destinations a...,-0.9994,0.105,0.820,0.075

In [13]:
stock_data.isna().any()

Open             False
High             False
Low              False
Volume           False
headline_text    False
compound         False
negative         False
neutral          False
positive         False
dtype: bool

In [14]:
stock_data.describe(include='all')

,Open,High,Low,Volume,headline_text,compound,negative,neutral,positive
count,15,15,15,15,15,15.000000,15.000000,15.000000,15.000000
unique,15,15,15,14,15,NaN,NaN,NaN,NaN
top,"47,466.62","46,704.97","46,539.02","12,800",Asmita Sood's favourite holiday destinations a...,NaN,NaN,NaN,NaN
freq,1,1,1,2,1,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,-0.999500,0.122467,0.797067,0.080467
std,NaN,NaN,NaN,NaN,NaN,0.000687,0.018146,0.026628,0.009694
min,NaN,NaN,NaN,NaN,NaN,-0.999900,0.082000,0.742000,0.064000
25%,NaN,NaN,NaN,NaN,NaN,-0.999800,0.116000,0.781500,0.075500
50%,NaN,NaN,NaN,NaN,NaN,-0.999700,0.123000,0.800000,0.080000
75%,NaN,NaN,NaN,NaN,NaN,-0.999550,0.129000,0.805000,0.086500
max,NaN,NaN,NaN,NaN,NaN,-0.997100,0.158000,0.854000,0.099000

In [15]:

# displaying stock_data information
stock_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 15 entries, 2020-12-10 to 2020-12-31
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Open           15 non-null     object
 1   High           15 non-null     object
 2   Low            15 non-null     object
 3   Volume         15 non-null     object
 4   headline_text  15 non-null     object
 5   compound       15 non-null     float64
 6   negative       15 non-null     float64
 7   neutral        15 non-null     float64
 8   positive       15 non-null     float64
dtypes: float64(4), object(5)
memory usage: 1.2+ KB

In [16]:

# calculating 7 day rolling mean
stock_data.rolling(7).mean().head(20)

            compound  negative   neutral  positive
2020-12-10       NaN       NaN       NaN       NaN
2020-12-11       NaN       NaN       NaN       NaN
2020-12-14       NaN       NaN       NaN       NaN
2020-12-15       NaN       NaN       NaN       NaN
2020-12-16       NaN       NaN       NaN       NaN
2020-12-17       NaN       NaN       NaN       NaN
2020-12-18 -0.999643  0.123143  0.797857  0.079000
2020-12-21 -0.999629  0.120714  0.802143  0.077143
2020-12-22 -0.999629  0.122286  0.797857  0.079714
2020-12-23 -0.999671  0.123429  0.796714  0.079571
2020-12-24 -0.999286  0.117571  0.804143  0.078143
2020-12-28 -0.999329  0.120571  0.799714  0.079571
2020-12-29 -0.999343  0.122429  0.795857  0.081571
2020-12-30 -0.999343  0.121571  0.798286  0.080000
2020-12-31 -0.999357  0.124571  0.791286  0.084143

In [17]:
# displaying stock_data
stock_data

,Open,High,Low,Volume,headline_text,compound,negative,neutral,positive
2020-12-10,"45,999.42","46,043.97","45,685.87","12,700","Gold imports plunge; demand dips,Horoscope Tod...",-0.9996,0.120,0.802,0.078
2020-12-11,"46,060.32","46,309.63","45,706.22","26,300",Ways to get you in the mood for sex when you'r...,-0.9999,0.147,0.772,0.081
2020-12-14,"46,284.70","46,373.34","45,951.53","18,400","No threat from Covid claims to balance sheets,...",-0.9993,0.112,0.808,0.081
2020-12-15,"46,287.39","46,350.30","45,841.67","16,400",1;147 RT-PCR tests in a day; only 3 found +ve ...,-0.9998,0.123,0.802,0.074
2020-12-16,"46,573.31","46,704.97","46,402.20","13,100",Asmita Sood's favourite holiday destinations a...,-0.9994,0.105,0.820,0.075
2020-12-17,"46,774.32","46,992.57","46,627.60","17,200",Horoscope Today; 17 December 2020: Check astro...,-0.9997,0.123,0.801,0.076
2020-12-18,"47,026.02","47,026.02","46,630.31","12,800",Cops; panch witnesses sniffed suspects' mouths...,-0.9998,0.132,0.780,0.088
2020-12-21,"46,932.18","47,055.69","44,923.08","24,400",Horoscope Today; 21 December 2020: Check astro...,-0.9995,0.103,0.832,0.065
2020-12-22,"45,529.61","46,080.18","45,112.19","25,100",Addite and Mohit Malik: We are looking forward...,-0.9999,0.158,0.742,0.099
2020-12-23,"46,072.30","46,513.32","45,899.10","10,500","Sawmill in Makarpura GIDC gutted; none hurt,Ci...",-0.9996,0.120,0.800,0.080
2020-12-24,"46,743.49","47,053.40","46,539.02","13,700",How to set the mood for sex during cold winter...,-0.9971,0.082,0.854,0.064
2020-12-28,"47,153.59","47,406.72","47,148.24","9,600",Horoscope Today; 28 December 2020: Check astro...,-0.9997,0.126,0.789,0.085
2020-12-29,"47,466.62","47,714.55","47,361.90","12,800",Man recovers charred remains of 'thief' from h...,-0.9998,0.136,0.774,0.090
2020-12-30,"47,789.03","47,807.85","47,358.36","15,600",Numerology Readings 30 December 2020: Predicti...,-0.9998,0.126,0.797,0.077
2020-12-31,"47,753.11","47,896.97","47,602.12","13,900",Horoscope Today; 31 December 2020: Check astro...,-0.9996,0.124,0.783,0.094

In [18]:

# calculating data_to_use
percentage_of_data = 1.0
data_to_use = int(percentage_of_data*(len(stock_data)-1))

# using 80% of data for training
train_end = int(data_to_use*0.8)
total_data = len(stock_data)
start = total_data - data_to_use

# printing number of records in the training and test datasets
print("Number of records in Training Data:", train_end)
print("Number of records in Test Data:", total_data - train_end)

Number of records in Training Data: 11
Number of records in Test Data: 4